<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="userDAO" class="com.atoz.dao.UserDAOImpl">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <bean id="courseDAO" class="com.atoz.dao.CourseDAOImpl">
        <property name="dataSource"  ref="dataSource" />
        <property name="userDAO"  ref="userDAO" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/atozdb" />
        <property name="username" value="atoz_user" />
        <property name="password" value="AthreeY2#123" />
    </bean>

</beans>